<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
<link rel="shortcut icon"href="/static/favicon.ico">
    <title>
		自话自说--GAGA~		
    </title>
<link rel="stylesheet" href="/static/css/pagination.css">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/base.css">
</head>
<body background = "/static/bgc.jpg" >
<div id=”container”>
	<div id=”topbar”>顶栏/Logo层</div>
		<div id=”navbar”>
			<a href=“index.html?home”>Home</a>
			<a href=“index.html?about”>About</a>
			<a href=“mailto:myemailaddres@email.com”>Contact me</a>
		</div>
	<div id=”main”>
		<div id=”column_left”>
			<h1>文章标题</h1>
			<h2>2008年12月5日</h2>
			<p>在这里添加您的文本内容</p>
			 {%block title %}
			 {% endblock %}
		</div>
	<div id=”column_right”>
			<h3>分类</h3>
			右侧内容添加分类或widget (twitter、 我博客的读者等…)
	</div>
	<div id=”column_right_adsense”>
			<h3>AdSense</h3>
			Adsense 120 X 600
	</div>
 
	<div class=”spacer”></div>
	</div>

	<div id=”footer”>? 2008 Information about your site
	</div>
</div>

 <script src="/static/bootstrap/js/bootstrap.js"></script>
 <script src="/static/bootstrap/js/bootstrap.min.js"></script>
 <script src="/static/bootstrap/js/jquery-2.1.4.min.js"></script>
</body>
</html>