<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
<link rel="shortcut icon" href="/static/favicon.ico">
    <title>
        自话自说,panda的个人博客！
    </title>
<link rel="stylesheet" href="/static/css/pagination.css">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

</head>
<body background = "/static/1.jpg" >
<div id = "header">
<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container col-md-11 col-md-offset-1">
        <div class="navbar-header ">
             <a class="navbar-brand" href="/app/main/"><img src="/static/2.png" alt="" width="30" style = "margin-top:-10px;"></a>
        </div>

    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav">
      <li></li>
      <li><a href="/app/article/">博客</a></li>
      <li><a href="/app/board/">留言板</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right ">
      <li id="signin_icon"><a href="/app/aboutme/">About me</a></li
      </ul>
      </ul>
       
    </div>
      <div class = "row"></div>
        <div class = "col-sm-offset-11">
          <span id=localtime></span>
      </div>
</nav>
</div>
<div id = "content">

 {%block title %}
 {% endblock %}
 </div>
<div  id = "footer" style="background:#384452 none repeat scroll 0% 0%;color:#BFC9D3" class = "footer col-md-12">
  <div class="container">
    <div class="row" style="padding-top:5px;">
      <div class="col-md-7">
        <p class="lead"> Designed and built by the <a href="/app/about/">Fan</a>.</p>        
      </div>
      <div class="col-md-5">
        <div>
          <h5 style="margin-bottom:5px;margin-left:18px;"><strong>CONTACT ME</strong></h5>
          <ul>
            <li></span>&nbsp; Email:<strong> FantasRu@Gmail.com</strong></a></li> 
            <li><!-- <a href="#" aria-hidden="true"> --></span>&nbsp; QQ:<strong> 935813777</strong></a></li>                        
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <p> <small>© COPYRIGHT BY FanRu 2015</small></p>
      </div>
    </div>
  </div>
</div>
</div>
 <script src="/static/js/api.js"></script>
 <script src="/static/bootstrap/js/bootstrap.js"></script>
 <script src="/static/bootstrap/js/bootstrap.min.js"></script>
 <script src="/static/bootstrap/js/jquery-2.1.4.min.js"></script>

</body>
</html>